  <% if user_signed_in? %>
  <% comment = Comment.find_by(user_id: current_user.id, tuit_id: tuit.id) %>
  <% class_comment = 'liked' unless comment.nil? %>
  <%= link_to tuit_path(tuit), class: "comment" do %>
    <i class="far fa-comment <%= class_comment %> "></i>
    <span class="<%= class_comment %>"><%= tuit.comments_count %></span>
  <% end %>
  <% like = Like.find_by(user_id: current_user.id, tuit_id: tuit.id) %>
  <% class_like = "liked" unless like.nil? %>
  <%= link_to root_path + "like/" + tuit.id.to_s, class: "like", remote:true do %>
    <i class="far fa-heart <%= class_like %>"></i>
    <span class="<%= class_like %>"><%= likes_count %></span>
  <% end %>
<% else %>
  <%= link_to  new_user_registration_path,action:"signup", class: "comment" do%>
    <i class="far fa-comment "></i>
  <% end %>
  <span class=""><%= tuit.comments_count %></span>
  <%= link_to new_user_registration_path,action:"signup", class: "like" do %>
    <i class="far fa-heart "></i>
    <span class="<%= class_like %>"><%=  likes_count  %></span>
  <% end %>
<% end %>
