<div class="wrap-side-bar-login">
  <div class="side-bar-login">
    <h2>Log in to <img src="/logo.png" alt="tuiteable"></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form", remote:true) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <%# <div class="field remember"> %>
        <%# <%= f.check_box :remember_me %>
        <%# <%= f.label :remember_me %>
        <%# </div > %>
      <% end %>
      <div class="actions">
        <div class="field">
          <%= f.submit "Log In" %>
        </div>
        <div class="actions-face">
          <%= link_to  user_facebook_omniauth_authorize_path do%>
            <i class="fab fa-facebook-f"></i>
            Use Facebook
          <% end %>
        </div>
        <div class="actions-git">
          <%= link_to  user_github_omniauth_authorize_path do%>
            <i class="fab fa-github"></i>
            Use Github
          <% end %>
        </div>
      <% end %>
      <div class="signup-side-bar">
        <p>Not registered yet?</p>
        <%= link_to  "Sign Up with email", new_user_registration_path  %>
      </div>
    </div>
  </div>
