<!DOCTYPE html>
<html>
  <head>
    <title>Tuiteable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="home">
      <section class="nav">
        <%= render partial: "/layouts/nav" %>
      </section>
      <section class="index">
        <%= yield %>
      </section>
      <section class="side-bar" id="side-bar">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% if params[:id].nil? %>
          <% if user_signed_in? %>
            <div class="suggestions">
              <strong class="strong_suggestions">You may want to follow</strong>
              <% @users[0..4].each do |user| %>
                <div class="card_suggestion" id="card_suggestion-<%=user.id %>">
                  <div class="tuit-avatar">
                  <%= link_to   profile_path(user) do %>
                    <img  src="<%=url_for(user.avatar)%>" alt="<%=user.name %>">
                  <% end %>
                  </div>
                  <div class="suggestion-user" id="suggestion-user-<%=user.id %>">
                    <% name = user.name.split[0..1] %>
                    <% unless name[1].nil? %>
                    <% lastname = name[1].chars[0].capitalize%>
                    <% end %>
                    <strong class="strong_suggestions"> <%= link_to   name[0] + ' '+ lastname.to_s, profile_path(user) %></strong>
                    <span><%= link_to  "@#{user.username}", profile_path(user) %></span>
                  </div>
                <div id="suggested-<%=user.id %>">
                  <%= render partial:  "profiles/follow_button", locals:{user: user}%>
                </div>
                </div>
              <% end %>
              <%= render  partial:"/layouts/footer" %>
            </div>
          <% else %>
            <%= render  "devise/sessions/new" %>
          <% end %>
        <% end %>
      </section>
    </main>
  </body>
</html>
