<!DOCTYPE html>
<html>
  <head>
    <title>Tuiteable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="home">
      <section class="nav">
        <%= render partial: "/layouts/nav" %>
      </section>
      <section class="index">
        <%= yield %>
      </section>
      <section class="side-bar" id="side-bar">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% unless current_page?(new_user_registration_path) %>
          <% if user_signed_in? %>
            <div class="coming-soon">
              <img src="/features.png" alt="Comming soon!">
            </div>
          <% else %>
            <%= render  "devise/sessions/new" %>
          <% end %>
        <% end %>
        <div class="footer-side-bar">
          <p>Made with bravery by Gerard, Robert and Fer</p>
        </div>
      </section>
    </main>
  </body>
</html>
